<section class="mt-lg-2 container">
  <div data-simplebar="init" data-simplebar-auto-hide="false" class="pt-xxl-3">
    <div class="simplebar-wrapper" style="margin: 0px;">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
          <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
            style="height: auto; overflow: hidden;">
            <div class="simplebar-content" style="padding: 0px;">
              <div class="flex-nowrap flex-md-wrap justify-content-md-center g-0 gap-4 gap-md-0 row">
                @for (category of categories; track category.id) {
                <div class="mb-4 col-xl-2 col-lg-3 col-md-4 col">
                  <div>
                    <div class="category-card w-100 text-center px-1 px-lg-2 px-xxl-3" style="min-width: 165px;">
                      <div class="category-card-body"><a class="d-block text-decoration-none" href="/shop/furniture">
                          <div class="bg-body-tertiary rounded-pill mb-3 mx-auto" style="max-width: 164px;">
                            <div class="ratio ratio-1x1 rounded-pill overflow-hidden"><img alt="Bedroom" loading="lazy"
                                decoding="async" data-nimg="fill" class="object-fit-cover" sizes="328px"
                                src="{{category.icon_url}}"
                                style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
                            </div>
                          </div>
                          <h3 class="category-card-title h6 text-truncate">{{category.name}}</h3>
                        </a>
                        <ul class="category-card-list nav w-100 flex-column gap-1 pt-3">
                          <li class="w-100"><a
                              class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0 ">
                              <span class="text-wrap">
                                {{ category.description }}
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="simplebar-placeholder" style="width: 948px; height: 483px;"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="width: 0px; display: none; transform: translate3d(0px, 0px, 0px);"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
    </div>
  </div>
</section>