<!-- CATEGORIES -->
<section class="container py-5 my-2 my-sm-3 mb-md-2 mt-lg-4 my-xl-5">
  <div class="overflow-x-auto pt-xxl-3" data-simplebar="init" data-simplebar-auto-hide="false">
    <div class="simplebar-wrapper" style="margin: 0px;">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
          <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
            style="height: auto; overflow: hidden;">
            <div class="simplebar-content" style="padding: 0px;">
              <div class="row flex-nowrap flex-md-wrap justify-content-md-center g-0 gap-4 gap-md-0">

                <!-- Category -->
                <div class="col col-md-4 col-lg-3 col-xl-2 mb-4">
                  <div class="category-card w-100 text-center px-1 px-lg-2 px-xxl-3 mx-auto" style="min-width: 165px">
                    <div class="category-card-body">
                      <a class="d-block text-decoration-none" href="shop-catalog-furniture.html">
                        <div class="bg-body-tertiary rounded-pill mb-3 mx-auto" style="max-width: 164px">
                          <div class="ratio ratio-1x1">
                            <img src="assets/img/home/furniture/categories/01.png" class="rounded-pill" alt="Image">
                          </div>
                        </div>
                        <h3 class="category-card-title h6 text-truncate">Bedroom</h3>
                      </a>
                      <ul class="category-card-list nav w-100 flex-column gap-1 pt-3">
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Beds and mattresses</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Dressing tables</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Pillowcases</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Category -->
                <div class="col col-md-4 col-lg-3 col-xl-2 mb-4">
                  <div class="category-card w-100 text-center px-1 px-lg-2 px-xxl-3 mx-auto" style="min-width: 165px">
                    <div class="category-card-body">
                      <a class="d-block text-decoration-none" href="shop-catalog-furniture.html">
                        <div class="bg-body-tertiary rounded-pill mb-3 mx-auto" style="max-width: 164px">
                          <div class="ratio ratio-1x1">
                            <img src="assets/img/home/furniture/categories/02.png" class="rounded-pill" alt="Image">
                          </div>
                        </div>
                        <h3 class="category-card-title h6 text-truncate">Living room</h3>
                      </a>
                      <ul class="category-card-list nav w-100 flex-column gap-1 pt-3">
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Bookcases and storage</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Coffee tables</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Cabinets</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Category -->
                <div class="col col-md-4 col-lg-3 col-xl-2 mb-4">
                  <div class="category-card w-100 text-center px-1 px-lg-2 px-xxl-3 mx-auto" style="min-width: 165px">
                    <div class="category-card-body">
                      <a class="d-block text-decoration-none" href="shop-catalog-furniture.html">
                        <div class="bg-body-tertiary rounded-pill mb-3 mx-auto" style="max-width: 164px">
                          <div class="ratio ratio-1x1">
                            <img src="assets/img/home/furniture/categories/03.png" class="rounded-pill" alt="Image">
                          </div>
                        </div>
                        <h3 class="category-card-title h6 text-truncate">Bathroom</h3>
                      </a>
                      <ul class="category-card-list nav w-100 flex-column gap-1 pt-3">
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Mirrors</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Bathroom rugs</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Bathrobes and slippers</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Category -->
                <div class="col col-md-4 col-lg-3 col-xl-2 mb-4">
                  <div class="category-card w-100 text-center px-1 px-lg-2 px-xxl-3 mx-auto" style="min-width: 165px">
                    <div class="category-card-body">
                      <a class="d-block text-decoration-none" href="shop-catalog-furniture.html">
                        <div class="bg-body-tertiary rounded-pill mb-3 mx-auto" style="max-width: 164px">
                          <div class="ratio ratio-1x1">
                            <img src="assets/img/home/furniture/categories/04.png" class="rounded-pill" alt="Image">
                          </div>
                        </div>
                        <h3 class="category-card-title h6 text-truncate">Decoration</h3>
                      </a>
                      <ul class="category-card-list nav w-100 flex-column gap-1 pt-3">
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Flowerpots</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Glassware</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Home fragrance</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Category -->
                <div class="col col-md-4 col-lg-3 col-xl-2 mb-4">
                  <div class="category-card w-100 text-center px-1 px-lg-2 px-xxl-3 mx-auto" style="min-width: 165px">
                    <div class="category-card-body">
                      <a class="d-block text-decoration-none" href="shop-catalog-furniture.html">
                        <div class="bg-body-tertiary rounded-pill mb-3 mx-auto" style="max-width: 164px">
                          <div class="ratio ratio-1x1">
                            <img src="assets/img/home/furniture/categories/05.png" class="rounded-pill" alt="Image">
                          </div>
                        </div>
                        <h3 class="category-card-title h6 text-truncate">Office</h3>
                      </a>
                      <ul class="category-card-list nav w-100 flex-column gap-1 pt-3">
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Desks and bureaus</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Office chairs</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Filing cabinets</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Category -->
                <div class="col col-md-4 col-lg-3 col-xl-2 mb-4">
                  <div class="category-card w-100 text-center px-1 px-lg-2 px-xxl-3 mx-auto" style="min-width: 165px">
                    <div class="category-card-body">
                      <a class="d-block text-decoration-none" href="shop-catalog-furniture.html">
                        <div class="bg-body-tertiary rounded-pill mb-3 mx-auto" style="max-width: 164px">
                          <div class="ratio ratio-1x1">
                            <img src="assets/img/home/furniture/categories/06.png" class="rounded-pill" alt="Image">
                          </div>
                        </div>
                        <h3 class="category-card-title h6 text-truncate">Kitchen</h3>
                      </a>
                      <ul class="category-card-list nav w-100 flex-column gap-1 pt-3">
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Cupboards</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Chest of drawers</span>
                          </a>
                        </li>
                        <li class="w-100">
                          <a class="nav-link justify-content-center min-w-0 w-100 fw-normal hover-effect-underline p-0"
                            href="shop-catalog-furniture.html">
                            <span class="text-truncate">Dining tables</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="simplebar-placeholder" style="width: 1166px; height: 242px;"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
      <div class="simplebar-scrollbar simplebar-visible" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
      <div class="simplebar-scrollbar simplebar-visible" style="height: 0px; display: none;"></div>
    </div>
  </div>
</section>
<!-- END CATEGORIES -->
