<section class="container pb-5 mb-sm-2 mb-md-3 mb-lg-4 mb-xl-5">
  <h2 class="h3 pb-3">Découvrez nos produits en solde</h2>
  <!-- Grid -->
  <div *ngIf="bestSaleProducts.length > 0" class="row g-4 g-sm-3 g-lg-4 mb-xxl-3">
    <div class="col-sm-5 d-flex flex-column gap-4 gap-sm-3 gap-lg-4">
      <!-- Item with hotspots -->
      <div class="ratio" id="hotspots" style="--cz-aspect-ratio: calc(500 / 526 * 100%)">
        <img src="{{bestSaleProducts[0].thumbnail_url}}" class="rounded-5" alt="Image">
      </div>

      <!-- Item -->
      <div class="ratio" style="--cz-aspect-ratio: calc(529 / 526 * 100%)">
        <img src="{{bestSaleProducts[1].thumbnail_url}}" class="rounded-5" alt="Image">
      </div>
    </div>
    <div class="col-sm-7 d-flex flex-column gap-4 gap-sm-3 gap-lg-4">

      <!-- Item -->
      <div class="ratio" style="--cz-aspect-ratio: calc(664 / 746 * 100%)">
        <img src="{{bestSaleProducts[2].thumbnail_url}}" class="rounded-5" alt="Image">
      </div>

      <!-- Item -->
      <div class="ratio" style="--cz-aspect-ratio: calc(365 / 746 * 100%)">
        <img src="{{bestSaleProducts[3]?.thumbnail_url}}" class="rounded-5" alt="Image">
      </div>
    </div>
  </div>
</section>