<div class="pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5 container">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="h3 pb-3">Nos produits populaires</h2>
    <span class="animate-underline d-flex align-items-center gap-2 ">
      <a routerLink="/catalog" class="nav-link animate-target fs-sm p-0 fw-semibold">Voir tous les produits</a>
      <i class="ci-arrow-right"></i>
    </span>
  </div>
  <div class="gy-5 row row-cols-lg-4 row-cols-md-3 row-cols-2">
    @for (product of featuredProducts; track product.id) {
    <div class="col">
      <app-product-item [product]="product"></app-product-item>
    </div>
    }
  </div>
</div>
